@page
@model Lab5.Pages.StudentManagement.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" asp-route-orderby="@Model.OrderBy">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @* set the anchor link with query string of orderby to sort the student summary by click the link *@
            <th>
                <a asp-page="Index" asp-route-orderby="name">Name</a>
            </th>
            <th>
                <a asp-page="Index" asp-route-orderby="course">Number of Courses</a>
            </th>
            <th>
                <a asp-page="Index" asp-route-orderby="grade">Average Grade</a>
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @* display the studentSummaries list content *@
        @foreach (var item in Model.studentSummaries)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.studentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.numberOfCourse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.average)
                </td>
                <td>
                    <a asp-page="Details" asp-route-id="@item.Id" asp-route-orderby=@Model.OrderBy>Details</a> |
                    @* use delete with item.id as query string, set onclick to prompt up warning msg *@
                    <a asp-page="Index" asp-route-delete="@item.Id" onclick="return confirm('Please confirm to delete student:\n\n   @item.studentName\n\n   All his/her academic records will be deleted too!');">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
